@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  float: left;
  font-family: "Helvetica Now Display" !important;
}
.container {
  width: min(85vw, 87.5rem);
  margin: auto;
}

.topSec {
  height: calc(100vh - 106px);
}

/* .topSec {
  background-image: url('./assets/img/topSec-bg.png');
} */

.profile-pic-shadow {
  background: linear-gradient(
    to bottom,
    rgba(217, 217, 217, 0) 0%,
    rgba(217, 217, 217, 0) 56.71%,
    rgba(255, 255, 255, 0.6) 73.8%,
    rgba(255, 255, 255, 0.87) 85.48%,
    #ffffff 100%
  );
}

.descSec {
  height: 900px;
  /* background: url("./assets/img/profile.png"); */
  background-repeat: no-repeat;
  /* background-position: right bottom;
  background-size: auto 900px; */
}
.descSec h1 {
  width: min(60%, 783px);
}
.descSec .para-text {
  max-width: 680px;
}

/* custom tailwind styles */
.sec-title {
  @apply text-black text-[4.25rem] font-extrabold leading-[90px];
}
.sec-category {
  @apply text-[1.125rem] leading-[1.654rem] tracking-widest mb-[0.875rem];
}
.wrapper-space {
  @apply mb-[8.75rem];
}
.titleSec {
  @apply mb-14;
}
.profile {
  @apply flex items-center gap-5;
}
.testimonial-card {
  @apply p-[1.875rem] border border-[#DFDFDF] rounded-lg h-full flex justify-between flex-col;
}
.testimonial-desc {
  @apply text-[18px] text-paragraph leading-[1.75rem] mb-6;
}
.testimonial-name {
  @apply text-[1.5rem] leading-[2.205rem] text-[#000] font-medium mb-[0.375rem];
}
.testimonial-role {
  @apply text-[1.25rem] leading-[1.838rem] font-medium text-[#878A8F];
}
.dribble-images {
  @apply rounded-[0.375rem];
}
